ul li{
  font-size:12px;
 }

 .window{
  display: flex;
  background-color: #d5d1defe;
  justify-content: center;
  align-items: center;
  height: 100vh;
 }


/*main{
  font-family: 'Times New Roman', Times, serif;
  font-size:14px;
}*/
.carousel-card{
  position: relative;
  background-color: #f0f0f0;
  margin: 1rem;
  /*flex: 1 0 25rem;*/
  max-width: 30rem;
  max-height: 50rem;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}
.carousel{
  margin-bottom: 50px;
}
.carousel-title{
  color: #000000;
}
.product-price{
  color: #2e7d32;
}
.event-date{
  color: #000000;
}
.carousel-card:hover{
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

#cert{
  padding: 4px;
  width: 587px ;
  height: 834px;
  margin-left: 100px;


}
#certMain{
  font-size: 14px;
  padding: 10px;
  
  
}



@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  /* ... the rest of the rules ... */
}

body{
  margin: 0;
  padding: 0;
  background: #1d2634 center/cover;
  color: #9e9ea4;
  font-family: 'Montserrat','sans-serif';
}

.icon{
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header{
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon, .icon_header {
  margin-right: 5px;
}

.grid-container{
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

/* Header*/
.header{
  grid-area: header;
  height: 60px;
  background-color: #52575A;
  display: flex;
  align-items: center;
  justify-content:end;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0,0,0,0.35);

}

.menu-icon{
  display: none;
}


/*end Header*/

/*SideBar*/
#sidebar{
  grid-area: sidebar;
  height: 100%;
  background-color: #F58A09;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span{
  display: none;
}
.logo

.sidebar-brand{
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}
.sidebar-brand img{
  width: 100%;
}
.sidebar-list{
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item{
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}
.sidebar-list-item:hover{
  background-color: rgba(255, 255, 255, 0.1);
  color: pointer;
}

.sidebar-list-item  a{
  text-decoration: none;
  color:  #000000;
}

.sidebar-responsive{
  display: inline !important;
  position: absolute;

  z-index: 12 !important;
}


/*End SideBar*/

/*Main*/
.main-container{
  grid-area: main;
  overflow-y: auto;
  background-color: #d5d1defe;
  padding: 20px 20px;
  color: rgba(255,255,255,0.95);
}

.main-title{
  
  display: flex;
  justify-content: space-between;
  color: #1d2634;
}
.main-cards{
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px;

}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card:first-child{
  background-color:#2962ff;
}

.card:nth-child(2){
  background-color: #ff6d00;
}
.card:nth-child(3){
  background-color: #2e7d32;
}
.card:nth-child(4){
  background-color: #d50000;
}

.card-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.card-inner > .card_icon{
  font-size: 25px;
}



/*End Main*/

/*Table*/
table, th,td{
  border-collapse: collapse;
  padding: 1rem;
  
}
table{
  width: 100%;
}
thead th{
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
}
tbody tr:nth-child(even){
  background-color: #0000000b;
}
tbody tr:hover{
  background-color: #fff6;
}
.table-home{
  grid-area: main;
  min-height: 100vh;
  background: #d5d1defe center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.table{
  height: 90vh;
  max-width: 90%;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
}
.table-header{
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: .8rem 1rem;
  display: flex;
  justify-content: space-between;

}
.table-body{
  width: 95%;
  max-height: calc(89% - .8rem);
  background-color: #fffb;
  margin: .8rem auto;
  border-radius: .6rem;
  overflow-y: auto;
  
}
/*End Table*/
/*Section 18A*/
.certificate{
  height: 90vh;
  max-width: 90%;
  background-color: rgba(255, 255, 255, 0.959);
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  overflow: auto;
  width: 75%;
  justify-content: center;
  align-items: center;

}
/*End Section18A*/

